@import url('https://fonts.googleapis.com/css2?family=JetBrains+Mono:wght@400;700&family=Orbitron:wght@400;700;900&display=swap');
@import "tailwindcss";

@tailwind base;
@tailwind components;
@tailwind utilities;

body {
  margin: 0;
  padding: 0;
  background: #050510;
  font-family: 'JetBrains Mono', monospace;
  cursor: crosshair; /* Crucial para la sensación de shooter */
}